<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>

    <div class="container mt-4">

      <div class="row justify-content-center">
        <div class="col"><h1 class="title">Halo, apa kabar?</h1></div>
      </div>

      <br />

      <div class="row justify-content-center">
        <div class = "col">
          <form action="{% url 'save_post' %}" method="post" class="input_form">

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn-lg submit_button">Add!</button>

          </form>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col">
          <h1 class="Title">Status saat ini:</h1>
        </div>
      </div>
      {% if statuses %}
        {% for status in statuses %}
          <br />
          <div class="row justify-content-center">
            <div class="col textbox" style="font-size: 1.2em">
              <span style="color: #2D283E">{{ status.text }}</span>
              <br />
              <span style="color: #4C495D; float:right">{{ status.submitted_time }}</span>
          </div>
        </div>

        {% endfor %}
      {% else %}

        <div class="row justify-content-center">
          <div class="col">
            <h1>Tidak ada status untuk saat ini</h1>
          </div>
        </div>
      {% endif %}
    </div>
    
  </body>
</html>