@font-face {
	font-family: "lovelo-black";
	src: url("fonts/Lovelo-Black.eot");
	src:
	url("fonts/Lovelo-Black.woff") format("woff"),
	url("fonts/Lovelo-Black.otf") format("opentype")
}

body {
	background-color: #2D283E;
	overflow-y: scroll;
	color: #D1D7E0;
}

.title {
	font-family: lovelo-black;
}

form.input_form {
    color: #D1D7E0;
    background-color: #584F6F;
    border-color: #584F6F !important;
    font-family: "montserrat";
    font-size: 1.5em;
}

.form-control, .form-control:focus, .form-control::placeholder {
	
	color: inherit;
	background-color: inherit;
	font-size: inherit;
	font-family: inherit;
	border-color: inherit;
}

.submit_button {
	float: right;
	color: #D1D7E0;
	background-color: #584F6F;
	font-size: 0.7em
}

.textbox {
	background-color: #CAA9E6;
	overflow-wrap: break-word;
}
